[flake8]
max-line-length = 120
ignore = 
    E203, # whitespace before ':'
    E261, # at least two spaces before inline comment
    E731, # do not assign a lambda expression, use a def
    W503, # line break before binary operator
    E401, # multiple imports on one line 
    E231, # missing whitespace after ','
